services:
  seq:
    image: datalust/seq:latest
    container_name: seq
    restart: unless-stopped

    environment:
      ACCEPT_EULA: "Y"
      SEQ_FIRSTRUN_ADMINPASSWORD: "ChangeMe123!ChangeMe123!"

    ports:
      - "5341:80"

    volumes:
      - seq-data:/data

volumes:
  seq-data:
